<article id="tablaraces">
<h1>Listing races</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.title %></td>
        <td><%= race.country %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</article>


          <article>
     
            <h3><a href="#">Comienza la temporada</a></h3>
            <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
     
            <div class="row">
              <div class="large-6 columns">
                <p>La temporada 2015 de MotoGP ya está lanzada y seguro que tienes muy claro los nombres y equipos de los pilotos de cabeza, pero el resto hasta los 22 que toman la salida no es tan fácil ¿verdad? Te presentamos un listado de pilotos de MotoGP 2015 para que no se te pase ni uno.</p>
                <p>Este año parecía que el guión ya estaba escrito antes de empezar la temporada: guerra en cabeza entre las Honda y Yamaha con Marc Márquez en su propio planeta, Jorge Lorenzo tras él y, por detrás, Dani Pedrosa y Valentino Rossi.</p>
              </div>
              <div class="large-6 columns">
                <img src="https://coretanekodeby.files.wordpress.com/2011/12/logo-moto-gp.png"/>
              </div>
            </div>
     
            <p>ero no, nunca se puede dar nada por sentado, fíjate cómo ha cambiado el cuento. Tenemos a Valentino Rossi liderando el Mundial, Márquez que ha tenido mala pata y ahora le toca remontar y no cometer errores, Pedrosa está fuera y no volverá, al menos, hasta Le Mans y Jorge Lorenzo empezó francamente mal y, sin embargo, parece que por fin ha despertado logrando una victoria flag to flag en Jerez.</p>
     
            <p>Pero no podemos olvidarnos de las Ducati, que con esa manga ancha que les permite el reglamento están 'dando palos’ en cabeza de carrera un GP tras otro. Pero ojo, que esta ventaja de la que disfrutan (número de motores, litros de combustible, etc.) se acaba si siguen subiendo al cajón.</p>
     
          </article>

<br>

<%= link_to 'New Race', new_race_path %>
